<h1>New Enemy</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.enemy_path(@conn, :create, @campaign)) %>

<span><%= link "Back", to: Routes.enemy_path(@conn, :index, @campaign) %></span>
